RewriteEngine On
RewriteRule ^login/?$ login.php [NC,L]
RewriteRule ^connect/?$ connect.php [NC,L]
RewriteRule ^is_conversation_ready/?$ is_conversation_ready.php [NC,L]
RewriteRule ^get_message/?$ get_message.php [NC,L]
RewriteRule ^send_message/?$ send_message.php [NC,L]
RewriteRule ^get_courses/?$ get_courses.php [NC,L]