* {
	padding: 0;
	margin: 0;
	color: black;
	text-decoration: none;
	font-family: sans-serif;
}

/* GENERAL ***********************************************************/
@font-face {
	font-family: CaviarDreams;
	src: url('../fonts/CaviarDreams.ttf');
}

@font-face {
	font-family: Bellerose;
	src: url('../fonts/Bellerose.ttf');
	
}

h1 {
	font-family: Sans-serif;
	color: #d74c4c;
	font-size: 35px;
	font-weight: 200
}

p {
	padding: 10px 10px;
	color: #555;
	font-size: 14px;
	text-align: justify;
	text-indent:42px;
}

body {
	background: url('../img/back.jpg') repeat;
	background-attachment: fixed;
	padding: 0 28px;
	
}

form{
	margin: 3px;
	color: #aaa;
	font-size: 12px;
	padding: 2px;
}

input {
	margin: 1px;
	padding: 3px;
	border: 0;
}

input[type=text], input[type=password] {
	width: 100px;
	border-radius: 3px;
	border: 1px solid #ddd;
}

textarea {
	border-radius: 3px;
	border: 1px solid #ddd;
	resize: none;
	width: 90%;
	height: 70px;
	padding: 10px;
}

textarea:focus {
	outline: none;
	border: 1px solid #e66464;
}

input[type=text]:focus, input[type=password]:focus {
	outline: none;
	width: 100px;
	border: 1px solid #e66464;
}

.button, input[type=submit] {
	padding: 3px 5px;
	background-color: #d74c4c;
	color: white;
	font-size: 12px;
	margin: 4px;
	border-radius: 3px;
	cursor: pointer;
}

.button:hover , input[type=submit]:hover{
	background-color: #d03a3a;
}

.loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(255, 255, 255, 0.6);
	z-index: 10;
}

.loading img {
	position: fixed;
	top: 49%;
	left: 49%;
}

#loadingLogin {
	position: relative;
	top: -80px;
	right: -20px;
	float: right;
	display: none;
}

/* HEADER ************************************************************/
#wrapper > header {
	height: 240px;
	padding-top: 20px;
}

#logo {
	float: left;
	width: 212px;
}

#menuContent {
	width: 100%;
	height: 100%;
}

#menuWrapper {
	position: relative;
	float: left;
	top: 90px;
	left: 20px;
	width: 50%;
	height: 50px;
}

#menu {
	text-align: center;
	border-top: 4px #d74c4c solid;
	border-bottom: 11px #d74c4c solid;
	width: 95.55%;
	height: 17px;
	padding: 7px 0;
	position: relative;
	top: -50px;
	left: 11px;
}

#menutip2 {
	position:relative;
	top: -96px;
	float: right;
	width: 2.2%;
	height: 46px;
}

#menutip1 {
	width: 2.3%;
	height: 46px;
}

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(0px); }
	10% { -webkit-transform: translate(-2px); }
	20% { -webkit-transform: translate(2px); }
	30% { -webkit-transform: translate(2px); }
	40% { -webkit-transform: translate(-2px); }
	50% { -webkit-transform: translate(0px); }
	100% { -webkit-transform: translate(0px)); }
	/*0% { -webkit-transform: rotate(0deg); }
	10% { -webkit-transform: rotate(-4deg); }
	20% { -webkit-transform: rotate(4deg); }
	30% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(0deg); }*/
	/*0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); */
}

.menuItem {
	width: 33.33%;
	height: 20px;
	font-size: 14px;
	display: block;
	float: left;
	font-weight: bold;
	padding: 10px 0;
	margin-top: -10px;
	color: #9a1e1e;
}

.menuItem:hover {
	background-color: #d74c4c;
	color: white;
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

#login {
	float: right;
}

#login form input {
	display: block;
}

#logged {
	color: #777;
	font-size: 12px;
}

#logged span {
	color: #555;
	font-weight: bold;
}

#logged a, #forgotPassword a {
	color: #b00;
	font-weight: bold;
}

#logged a:hover, #forgotPassword a:hover {
	color: #e00;
	text-decoration: underline;
}

#forgotPassword {
	font-size: 12px;
}

#adTop {
	position: relative;
	top: 90px;
	right: -80px;
	float: right;
	text-align: right;
	font-size: 10px;
}

.adsbygoogle {
	display:inline-block;
	width:250px;
	height:70px;
}

/* HOME PAGE *********************************************************/

#wrapper {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

#contentWrapper{
	clear: both;
}

#slide {
	width: 100%;
	height: 600px;
	background-color: #888;
	background-color: rgba(50, 50, 50, 0.5);
	float: left;
	position: relative;
	top: 50px;
	box-shadow: 0 8px 20px 0px #888;
	background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.9));
}

#slidetip1 {
	float: left;
	position: relative;
	top: 50px;
	width: 2.39%;
	
}

#slidetip2 {
	float: right;
	position: relative;
	top: 50px;
	width: 2.39%;
}

#slideshow { 
    width: 70%; 
	height: 60%;
	margin: 30px auto;
}

#slideshow li { 
    position: absolute; 
	list-style: none;
	width: 70%;
	height: 60%;
	overflow: hidden;
}

.slideInfo {
	margin: 19% 5%;
	width: 49%;
	float: left;
}

.slideTitle, .slideTitle a {
	color: #ff7575;
	font-size: 32px;
}

.slideTitle a:hover {
	text-decoration: underline;
}

.slideText {
	color: #ddd;
	font-size: 14px;
}

.slideImg {
	float: right;
}

#slidebuttons {
	width: 650px;
	margin: 0 auto;
	text-align: center;
}

#slidebuttons li {
	list-style:none;
	display: inline;
	margin-left: 10px;
	cursor: pointer;
}

#downloadContent {
	width: 340px;
	height: 70px;
	text-align: center;
	margin: 0 auto;
	padding: 20px;
	padding-bottom: 40px;
	border-bottom: 1px rgba(255, 255, 255, 0.3) dotted;
}

#downloadContent span {
	display: block;
	margin-bottom: 10px;
	color: #ddd;
	font-size: 12px;
}

#downloadImg {
	opacity: 0.90;
}

#downloadImg:hover {
	opacity: 1.0;
}

#activeUsers {
	clear: both;
	padding: 0 10px 10px 10px;
	font-weight: bold;
	color: #84ba4a;
}

#content, #contentStatistics {
	width: 95.416667%;
	background-color: #fff;
	margin: 0 auto;
	padding-bottom: 50px;
	padding-top: 50px;
	border-top: 14px rgba(0, 0, 0, 0.3) solid;
}

#faq li {
	color: #555;
	font-size: 14px;
	margin-left: 80px;
}

#faq {
	width: 84%;
	margin: 0 auto;
	padding-top: 650px;
	padding-bottom: 20px;
}

.faqItem {
	margin: 20px 0;
}

#bottomIndex {
	width: 85%;
	padding-top: 20px;
	border-top: 1px solid #ddd;
	margin: 0 auto;
	min-height: 50px;
}

#bottomIndex h4 {
	color: #999;
}

#facebook {
	width: 230px;
	display: inline-block;
}

#parceiros {
	width: 60%;
	display: inline-block;
}

.parceiro {
	margin: 0 10px;
}

/* REGISTER PAGE *********************************************************/
#registerForm {
	width: 70%;
	margin: 0 auto;
	padding: 50px 0;
	color: #444;
}

#formDiv, #formDivForgot {
	border: 1px dotted #bbb;
	padding: 60px;
	background-color: #f7f7f7;
}

#formDivForgot {
	margin: 0 auto;
	text-align: center;
	color: #666;
}

#formDivForgot span {
	font-size: 16px;
	font-weight: bold;
}


#registerForm table, #registerForm td {
	color: #444;
	padding-right: 15px;
	margin-left: -2px;
}

#registerButton, #saveButton {
	display: block-inline;
	float: right;
	opacity: 0.4;
	cursor: default;
}

#usernameMsg, #passwordMsg, #emailMsg, #loginMsg {
	color: #888;
	font-size: 11px;
	margin-top: 5px;
}

#successMsg {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

#successMsg span {
	color: #444;
	font-weight: normal;
	text-decoration: underline;
}

#usernameProfile {
	font-size: 49px;
}

h2 {
	color: #777;
}

#updateSuccess {
	text-align: center;
	color: #94bc3e;
}


footer {
	background-color: rgba(50, 50, 50, 0.5);
	text-align: center;
	color: white;
	font-size: 10px;
	padding: 10px 0;
}

/**************** BUG *****/
#reportButton {
	display: block-inline;
	float: right;
}

/**************** STATISTICS ******/
#generalCharts {
	padding: 0 50px;
	display: inline-block;
	text-align: center;
}

.pieChart {
	display: inline-block;
	width: 250px;
	text-align: center;
	margin: 0 43px;
}

.statisticsButton {
	font-size: 11px;
	font-family: sans-serif;
	color: #777;
	cursor: pointer;
	padding: 0 10px;
	border-right: 1px #999 solid;
	display: inline;
}

.statisticsButton:last-child {
	border-right: 0;
}

.statisticsButton:hover {
	color: #343434;
	text-decoration: underline;
}


#barsGraph, #specificPieChart, #lineGraph {
	display: block;
	margin: 0 auto;
	text-align: center;
}

#specificBars {
	margin: 0 auto;
	border-right: 1px dotted #bbb;
	border-left: 1px dotted #bbb;
}

#barsButtons li {
	list-style:none;
	display: inline;
	margin-left: 10px;
	cursor: pointer;
}

#specificLine {
	margin: 0 auto;
}

#barsInfo {
	border: 1px dotted #999;
	width: 150px;
	background-color: #eee;
	position: absolute;
	display: none;
}

#barsInfo ul {
	font-size: 10px;
	list-style: none;
}

/**************** RESPONSIVE **/

@media screen and (max-width: 1368px) {
	#wrapper {
		max-width: 800px;
		min-width: 750px;
	}
	
	#wrapper > header {
		height: 200px;
		padding-top: 20px;
	}
	
	#logo img, #logo {
		width: 150px;
		height: auto;
	}
	
	#menuWrapper {
		position: relative;
		float: left;
		top: 50px;
		width: 420px;
	}

	#menu {
		text-align: center;
		border-top: 2px #d74c4c solid;
		border-bottom: 6px #d74c4c solid;
		width: 400px;
		height: 17px;
		padding: 7px 0;
	}

	#menutip2 {
		opacity: 0;
	}

	#menutip1 {
		opacity: 0;
	}
	
	#adTop {
		position: relative;
		top: 60px;
		right: -100px;
		float: right;
		text-align: right;
		font-size: 10px;
	}
	
	.adsbygoogle {
		display:inline-block;
		width:250px;
		height:50px
	}
	
	.pieChart {
		margin: 0 30px;
	}
}


@media screen and (max-width: 480px) {
	#wrapper {
		max-width: 380px;
		min-width: 320px;
	}
	
	#wrapper > header {
		height: 180px;
		padding-top: 20px;
	}
	
	#login {
		float: none;
		text-align: center;
		margin-bottom: 20px;
	}
	
	#login form input {
		display: inline;
	}
	
	#logo img, #logo {
		float: none;
		width: 150px;
		height: auto;
		margin: 0 auto;
	}
	
	#menuWrapper {
		position: static;
		float: none;
		width: 325px;
		margin: 0 auto;
	}

	#menu {
		text-align: center;
		border-top: 2px #d74c4c solid;
		border-bottom: 6px #d74c4c solid;
		width: 300px;
		height: 17px;
	}

	#menutip2 {
		opacity: 0;
	}

	#menutip1 {
		opacity: 0;
	}
	
	.menuItem {
		width: 33.33%;
		height: 20px;
		font-size: 12px;
		display: block;
		float: left;
		font-weight: bold;
		padding: 10px 0;
		margin-top: -10px;
		color: #9a1e1e;
	}
	
	#adTop {
		font-size: 10px;
		float: none;
		margin: 0 auto;
		text-align: center;
		position: relative;
		left: 0;
		top: -30px;
	}
	
	.adsbygoogle {
		display:inline-block;
		width:250px;
		height:50px;
		float: none;
	}
	
	#contentWrapper {
		margin-top: 50px;
	}
	
	#slide {
		height: 350px;
	}

	#slideshow { 
		width: 70%; 
		height: 40%;
		margin: 30px auto;
	}

	.slideInfo {
		margin: 7% 5%;
		width: 49%;
		float: left;
	}
	
	.slideImg {
		height: 130px;
		width: auto;
	}
	
	.slideTitle, .slideTitle a {
		color: #ff7575;
		font-size: 21px;
	}

	.slideText {
		color: #ddd;
		font-size: 12px;
	}
	
	#slidebuttons {
		width: 330px;
	}
	
	#downloadContent {
		width: 200px;
		height: 60px;
		text-align: center;
		margin: 0 auto;
		padding: 20px;
		padding-bottom: 40px;
		border-bottom: 1px rgba(255, 255, 255, 0.3) dotted;
	}
	
	#downloadImg img {
		width: 175px;
		height: 31px;
	}
	
	#activeUsers {
		clear: both;
		padding: 0 10px 10px 10px;
		font-weight: bold;
		color: #84ba4a;
		font-size: 12px;
	}
	
	#faq {
		padding-top: 380px;
	}
	
	/* Register page */
	#registerForm {
		min-width: 260px;
	}
	#registerForm table td {
		display: block;
	}
	
	#registerForm select {
		max-width: 150px;
	}
	
	#email {
		font-size: 10px;
	}
	
	input[name=email] {
		width: 90px;
	}
	
	#parceiros {
		width: 95%;
	}
	
}